@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {

    box-sizing:border-box;
}

section {
    width:100%;
}

.hero-sec {
    background-image:url('./imagelist/mobile/image-hero.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}

.hero-container {
    min-height:40vh;
}

@media(min-width:640px){
    .hero-sec {
        background-image:url('./imagelist/desktop/image-hero.jpg')
    }

    .hero-container {
        min-height:60vh;
    }
}


.nav-text, .hero-text {
    color:white;
}

.nav-text, .info-text p {
    font-family:'Alata'
}

.info-text h2 {
    font-family:"Josefin Sans"
}



